@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background: rgb(28, 28, 28);
    margin-left: 30%;
    margin-right: 30%;
    
}

a {
    text-decoration: none;
    background: rgb(0, 163, 212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

a:hover {
    background: rgb(0, 195, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

img {
    border-radius: 5px;
    width: 80%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}
code {
    padding: 5px;
    border-radius: 5px;
    color: #6200ff;
}
pre {
    background-color: #151515;
   padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
/* Media Query for Mobile */
@media (max-width: 600px) {
    html {
        font-size: small;  /* Adjust font size for better readability on mobile */
        margin-left: 10%;   /* Reduce margins on mobile */
        margin-right: 10%;
    }
    
    .avatar {
        width: 100px;  /* Reduce avatar size for mobile */
    }

    a {
        font-size: small;  /* Slightly reduce link text size */
    }
}