html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 500;
    color: white;
    background: black;
    margin-left: 35%;
    margin-right: 35%;
}

a {
    text-decoration: none;
    color: rgb(95, 0, 196);
    font-weight: bold;
}

a:hover {
    color: #8011ff;
}



.avatar {
    border-radius: 50%;
    width: 150px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}
/* Media Query for Mobile */
@media (max-width: 600px) {
    html {
        font-size: medium;  /* Adjust font size for better readability on mobile */
        margin-left: 10%;   /* Reduce margins on mobile */
        margin-right: 10%;
    }
    
    .avatar {
        width: 100px;  /* Reduce avatar size for mobile */
    }

    a {
        font-size: small;  /* Slightly reduce link text size */
    }
}