@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body, h1, h2, p, ul, li, a, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
html, body {
    height: 100%;  /* Ensures the page takes up full height */
    font-family: "Playfair Display", serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the body content */
}

/* Main content area */
main {
    flex: 1;  /* This ensures that the main content takes up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally centers content */
    padding: 20px;
}

/* Header Style */
header {
    margin: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    color: #1e40af;
    font-weight: normal;
}

header p {
    font-family: "Playfair", sans-serif;
    color: #000000;
    font-size: 1rem;
    margin: 10px 0;
}

nav a {
    color: #1e40af;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Blog List Section */
#blog-list {
    margin-top: 30px;
    width: 100%;
    max-width: 900px; 
}

#blog-list h2 {
    font-size: 1.8rem;
    color: #1e40af;
}

#post-links li {
    list-style: none;
    margin: 10px 0;
}

#post-links a {
    text-decoration: none;
    font-size: large;
    color: #393939;
    text-decoration: none;
}

#post-links a:hover {
    
    color: #1e40af;
}

/* Blog Content Section */



#post-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
}

#post-body {
    font-family: "Playfair";
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: 1rem;
    color: #444;
}

/* Footer */
footer {
    margin-top: 40px;
    color: #909090;
    font-size: 0.9rem;
    padding: 20px 0;
    background-color: #ffffff; /* Optional: background color to differentiate the footer */
}

footer p {
    margin: 0;
}


