body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  
.nav-bar {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #000000;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

.nav-bar-item {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lucida Grande, sans-serif;
  color: white;
  font-size: /*1.40vw*/ 1.25em;
  padding-top: 7px;
  padding-bottom: 5px;  
  margin-top: 1.75vh;
  text-align: center;
}

.content{
  margin-left: 400px;
  font-size: medium;
}

.content .projectlist{
  list-style: none;

}

